{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row text-center m-auto">
    <div class="col-12">
        <h1 class="text-center py-3">{{ workout.title }}</h1>
        <p>Publisher: {{ workout.author }}</p>
        <p class="text-center">{{ workout.excerpt }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 m-auto py-3">
        <em><span class="float-right">Created: {{ workout.created_on }}</span></em>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Sets</th>
                    <th scope="col">Reps</th>
                    <th scope="col">Weight (kg)</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in exercise %}
                <tr>
                    <th scope="row">{{ exercise.name }}</th>
                    <td>{{ exercise.sets }}</td>
                    <td>{{ exercise.reps }}</td>
                    <td>{{ exercise.weight }} <span>kg</span></td>
                </tr>
                {% empty %}
                <tr>
                    <th scope="row">No Exercises</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated %}
        <button class="btn btn-primary add-exercise" id="add_exercise_btn">Add Exercise</button>
        <div class="row no-display exercise-form">
            <div class="col-md-4 m-auto">
                <h4>Add new exercise:</h4>
                <form method="post">
                    {{ exercise_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Add Exercise</button>
                </form>
            </div>
        </div>
        {% else %}
        <button type="button" class="btn btn-primary float-right disabled">
            Add Exercise
        </button>
        {% endif %}
    </div>
</div>
<script>
    $("#add_exercise_btn").click(function () {
        $(".add-exercise").addClass("no-display");
        $(".exercise-form").removeClass("no-display")
    })
</script>

{% endblock %}